/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Roboto:400,500,700,900');

body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #FDD017;
	font-size: 16px;
    line-height: 1.6em;
}

html {
    width: 100%;
    height: 100%;
}

label,
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  line-height: inherit;
}

/* ===========
layout
============= */
#wrapper.boxed {
	margin: 0 auto;
	background-color: #FDD017;
	
}
@media (max-width: 767px) {
	#wrapper.boxed {
		width: 100%;
	}
}
@media (min-width: 768px) {
	#wrapper.boxed {
		width: 810px;
	}
}
@media (min-width: 992px) {
	#wrapper.boxed {
		width: 1030px;
	}
}
@media (min-width: 1200px) {
	#wrapper.boxed {
		width: 1230px;
	}
}

/* ===========
Typo
============= */

h1 {
	font-size: 38px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	color:#FF8000;
	line-height: 1em;
}

h1.h-xlight,h2.h-xlight,h3.h-xlight ,h4.h-xlight ,h5.h-xlight ,h6.h-xlight  {
	font-weight: 100;
}

h1.h-light,h2.h-light,h3.h-light ,h4.h-light ,h5.h-light ,h6.h-light  {
	font-weight: 300;
}

h1.h-normal,h2.h-normal,h3.h-normal ,h4.h-normal ,h5.h-normal ,h6.h-normal  {
	font-weight: 400;
}

h1.h-medium,h2.h-medium,h3.h-medium ,h4.h-medium ,h5.h-medium ,h6.h-medium  {
	font-weight: 500;
}

h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
	font-weight: 700;
}

h1.h-ultra,h2.h-ultra,h3.h-ultra ,h4.h-ultra ,h5.h-ultra ,h6.h-ultra  {
	font-weight: 900;
}


h1.font-light,h2.font-light,h3.font-light,h4.font-light,h5.font-light,h6.font-light {
	color: #fff;
}

.big-heading {
	font-size: 48px;
	font-weight: 700;
}

p {
    margin: 0 0 20px;

}

p.medium {
	font-weight: 500;
}

p.bold {
	font-weight: 700;
}

p.ultra {
	font-weight: 900;
}

.highlight-light {
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	display: inline-block;
	color: #111;
}

.highlight-dark {
	background-color: rgba(0,0,0,.5);
	padding: 20px;
	display: inline-block;
	color: #fff;
}

.highlight-color {
	padding: 2px 5px;
	display: inline-block;
	color: #008000;
}

a {
    color: #666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 24px;
	line-height: 1.5em;
  font-weight: 300;
  color: #999;
}

blockquote.bg-light {
	background-color: rgba(255,255,255,.8);
	padding: 20px;
	color: #222;
}

blockquote.bg-dark {
	background-color: rgba(0,0,0,.8);
	padding: 20px;
}

blockquote strong {
  font-weight: 700;
}




.light {
    font-weight: 400;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  margin:0;
  padding-bottom:0;

}

/* =======
Top area
======== */
.top-area {
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	width: 100%;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.top-area.top-padding {
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	padding-top: 6px;
	padding-bottom: 0;
	margin-bottom: 10px;
}

.top-area p {
	margin-bottom: 10px;
}

/* ===========
Navigation
============= */

.navbar-brand {
  padding-top: 4px;
  margin-top: 20px;
  padding-bottom: 0;
}

.navbar-brand.reduce {
	margin-top:0;
  padding-top: 5px;
	padding-bottom: 5px;
 	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.navbar.navbar-custom {
	width: inherit;
	margin: 0 auto;
	padding-bottom:0;
	box-shadow: 0 0 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 6px rgba(0,0,0,.2); 
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 6px rgba(0,0,0,.2); 
}

.navbar.navbar-custom .navigation {
	padding-bottom: 15px;

}


.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);	
	
}



.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar.navbar-custom.navbar-fixed-top  {
	background: #ECE5B6	;
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}

.navbar.navbar-custom {
	padding-top: 0;
}

.navbar.navbar-custom ul.nav.navbar-nav {
	margin-top: 15px;
 	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.navbar.navbar-custom.top-nav-collapse ul.nav.navbar-nav {
	margin-top: 0;
 	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.navbar-custom ul.nav li a {
	font-size: 13px;
	letter-spacing: 1px;
    color: #666;
	text-transform: uppercase;
	font-weight: 700;
	background: transparent;
}


.navbar.navbar-custom.top-nav-collapse {
	background: #fff;
	
}

.navbar.navbar-custom.top-nav-collapse .navigation {
	padding-bottom: 10px;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #444;
}

.navbar-custom ul.nav ul.dropdown-menu {
	border-radius: 0;	
	margin-top: 16px;
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
	font-size: 13px;
	text-transform: uppercase;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus  {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}



.navbar-custom.navbar-fixed-top .nav li a:hover,
.navbar-custom.navbar-fixed-top .nav li a:focus,
.navbar-custom.navbar-fixed-top .nav li.active a,
.navbar-custom.navbar-fixed-top .nav li.active {
    outline: 0;
	background: none;
}
.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom.top-nav-collapse .nav li a:focus,
.navbar-custom.top-nav-collapse .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* loader */



/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 150px;
	display:block;
    position:relative;
    z-index:120;
	background-color: #fff;
}


.home-section.nopadding {
    padding-top: 0;
    padding-bottom: 0;
	display:block;
    position:relative;
    z-index:120;
}
.home-section.nopadding-bot {
    padding-bottom: 0;
}
.home-section.nopadding-top {
    padding-top: 0;
}

.inner-section {
    padding-top: 110px;
    padding-bottom: 110px;
}


.home-section.nopadd-bot {
    padding-bottom: 0;
}


.section-heading h2 {
	margin-bottom: 10px;
}

.section-heading p {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.6em;
}

.color-dark .section-heading h2 {
	color: #111;
}
.color-dark .section-heading p {
	color: #444;
}

.divider-short,.color-dark .divider-short,.bg-gray .divider-short {
	background: #aaa;
}

.color-light .divider-short {
	background: #fefefe;
}



.color-light .section-heading h2 {
	color: #fff;
}
.color-light .section-heading p {
	color: #fefefe;
}

.color-light blockquote,.color-light p {
	color: #fefefe;
}

/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #fafafa;
}


.bg-dark {
	background: #404040;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
}

.intro-content {
	
	padding:200px 0 15px;
}
.intro-content.intro-nobg {
	background:#fff;
	position:relative;
	margin:0;
	padding:140px 0 60px;
}


.slogan {
	margin-bottom: 20px;
}

.white-box {
	background: rgba(255,255,255,.8);
	padding: 20px;
	border-radius: 4px;
}

.intro-content h2 {
	margin-bottom: 10px;
}

/* ---- lead form --- */

ul.lead-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px;
}


ul.lead-list li {
	margin: 0 0 20px 0;
	line-height: 1.6em;
}

ul.lead-list li span.fa {
	margin: 5px 5px 0 0;
	float: left;
}

ul.lead-list li span.list {
	display: inline-block;
	margin: 0 0 0 10px;
}

p.lead-footer {
	font-size: 16px;
	margin: 20px 0 0;
}


.panel-heading {
  padding: 20px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel.panel-skin {
  border-color: #ddd;
}

.panel-skin > .panel-heading {
  color: #fff;
  background-color: #444;
  border-color: #444;
  box-shadow: none;
}

.panel-body {
  padding: 20px;
}

.form-wrapper h3.panel-title {
  font-size: 20px;
  font-weight: 700;
}

.form-wrapper h3.panel-title span {
	font-size: 20px;
	margin: 0 10px 0 0;
}

.form-wrapper h3.panel-title small {
	font-size: 16px;
	color: #5ddd;
}

form.lead label,form.lead input {
	font-size: 16px;
}

.panel-body {
  background: ;
}

.panel-skin > .panel-heading .badge {
  background-color: #fff;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* --- slider ---- */
/* ===================================
 call action
==================================== */


/* =========================
Buttons
=========================== */

.btn-skin {
  color: #fff;
}

.btn-skin:hover {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active,
.open > .dropdown-toggle.btn-skin {
  color: #fff;
}
.btn-skin:active,
.btn-skin.active,
.open > .dropdown-toggle.btn-skin {
  background-image: none;
}

.btn-skin .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.5em;
  border-radius: 6px;
}

.badge.custom-badge {
	margin: -20px 0 0 -25px;
	font-size: 12px;
	text-transform: none;
}


.badge.custom-badge.red {
	background-color: #e9372e;
}

/* box */


.box {

}

.box h4 {
	font-size: 24px;
}

.box i {
	margin-bottom: 30px;
}


.circled {
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	width: 1.6em;
    height: 1.6em;
	text-align: center;
	line-height: 1.6em;
}

/* ===========================
--- Works
============================ */


/* --- Pricing box --- */

/* --- button --- */
.btn {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;

	font-weight: 700;
}

.btn.btn-noradius {
	border-radius: 0;
}

a.btn:focus{
	outline: 0;
}

.btn-red {
  color: #fff;
  background-color: #c83539;
  border-color: #c83539;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
.btn-red:active {
  background-image: none;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}